
.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--soft-blue);
    border: 0px transparent;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links button {
    background-color: var(--soft-blue);
    border: 0px transparent;
    border-radius: 1.5rem;
    margin: 1.5rem;
    padding: 0rem;
}

.nav-links p {
    padding: 0.25rem 0.5rem;
    margin: 0rem;
    border-radius: 1.5rem;
}

.logo {
    margin-left: 1rem;
    padding: 0px;
    border: 0px transparent;
    background-color: var(--soft-blue);
}

.logo button{
    margin: 0px;
    padding: 0px;
    border: 0px transparent;
    background-color: var(--soft-blue);
}
.logo button:focus{
    outline: none;
}

.logo img {
    height: 4rem;
}

.logo:focus {
    outline: none;
}

.cart-button {
    height: 4rem;
    width: 4rem;
    border: 0px transparent;
    margin: 1rem;
    padding: 0px;
    border-radius: 1rem;
    background-color: var(--soft-blue);
}

.cart {
    height: 4rem;
    width: 4rem;
    border: 0px transparent;
    padding: 1rem;
    border-radius: 1rem;
}

/* hover */
.nav-links p:hover {
    border-radius: 1.5rem;
    background: var(--light-blue);
    color: var(--soft-blue);
    background-image: linear-gradient(to top, var(--light-blue), var(--sky-blue));
    transition-duration: 0.5s;
}

.nav-links button:focus {
    outline: none;
}

.nav-links p:active {
    background-image: linear-gradient(to bottom, var(--light-blue), var(--sky-blue));
}

.cart-button:hover {
    background-image: linear-gradient(to top, var(--light-blue), var(--sky-blue));
    transition-duration: 0.5s;
}

.cart-button:focus {
    outline: none;
}

.cart-button:active {
    background-image: linear-gradient(to bottom, var(--light-blue), var(--sky-blue));
}

.cart:hover {
    transition-duration: 0.5s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(35%) saturate(5729%) hue-rotate(177deg) brightness(111%) contrast(102%);
}

.hamburger-menu {
    display: none;
    background: none;
    border: 0px;
    border-radius: 5px;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

.hamburger-menu:hover {
    background-image: linear-gradient(to top, var(--light-blue), var(--sky-blue));
    color: var(--soft-blue);
    transition-duration: 0.5s;
}

.hamburger-menu:active{
    background-image: linear-gradient(to bottom, var(--light-blue), var(--sky-blue));
}

.hamburger-menu:focus {
    outline: none;
}

@media (max-width: 768px) {
.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%); /* Moves the element off-screen to the left */
    height: 100%;
    width: 200px;
    background-color: var(--soft-blue);
    padding-top: 3.5rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden; 
}
.nav-links.active {
    transform: translateX(0); 
}

    .hamburger-menu {
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1500;
    }
.nav-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  /* Places the logo in the second column */
  grid-column: 2;
  /* Aligns the logo to the center of its grid cell */
  justify-self: center;
}

.cart-button {
  /* Places the cart button in the third (and last) column */
  grid-column: 3;
  /* Aligns the cart button to the right of its grid cell */
  justify-self: end; 
}

}
